[2013-03-17 10:01] jamieoliver opened #1 "Update documentation to remove references to front end"

[2013-03-22 23:56] bootstraponline opened #4 "Gollum org icon"
Gollum's organization is using a default icon. It'd be nice to have a real icon.

[2013-03-23 09:59] jamieoliver opened #5 "Update minitest-reporters"
Equivalent of gollum/gollum#668.

[2013-03-23 10:02] #5 closed, assigned to nobody

[2013-04-02 19:06] dekimsey opened #6 "no such file to load -- "remote_code""
gollum-lib, when built from a gem crashes with:

[code]

[2013-04-02 19:07] #6 closed, assigned to nobody

[2013-04-04 06:45] andyl opened #7 "Custom Tags in Gollum ??"
I'd like to add new tags to Gollum.  For example, the tag '<$ text $>' should return TEXT (just the upcased string...).

Is there a simple way for me to define a custom tag?  From my reading, it looks like I'll have to monkey-patch Gollum::Markup.  Is there a better/cleaner way to add a custom tag?

Thanks in advance, Andy

[2013-04-10 13:23] raphendyr opened #10 "'write_page' creates page with directory in it's name, but 'page' does not find it."
Gitlab creates page using [code](https://github.com/gitlabhq/gitlabhq/blob/master/app/models/gollum_wiki.rb#L72):

[code]

Where my title was `sub-page/sub-sub-page`. This created file `sub-page/sub-sub-page.markdown` in repository.

After this gitlab tries to find that page [using](https://github.com/gitlabhq/gitlabhq/blob/master/app/models/wiki_page.rb#L169):

[code]

but gets `nil`.

I think th

[2013-04-10 16:46] #10 closed, assigned to nobody

[2013-04-11 16:00] jamieoliver opened #11 "Automatically detect directory in page name"
As per discussion in #10. The separate directory parameter in various methods should be removed and automatically detected in the page name. This will need to be done sympathetically so as to minimise the impact on existing code.

[2013-04-19 08:00] urlsangel opened #12 "Add an after commit hook for updating repo"
I've been setting Gollum up on a little Debian box here so it can be used as a shared wiki resource. I'd like it to be able to accept wiki amends through either the web interface (a single centrally served one, not a localhost instance each), or through individual markdown edits and git commits.

For the web service to keep in sync though, I need it to do a pull/push on commit - I understand that

[2013-04-22 17:16] jamieoliver opened #13 "test_update_page is unstable"
It relies on the update happening in the same second, which it doesn't always. See https://travis-ci.org/gollum/gollum-lib/jobs/6278386 for an example.

[2013-04-23 17:22] #1 closed, assigned to nobody

[2013-04-24 14:05] hardywu opened #14 "Does gollum parse yaml front matter?"
Is there any way to parse the yaml front matter of a page in gollum-lib?

[2013-05-09 18:08] #14 closed, assigned to nobody

[2013-05-30 05:41] david-macmahon opened #21 "Patch to re-enable metadata"
For a patch to re-enable metadata, please see:

https://gist.github.com/anonymous/5675858

This is a simplistic Hash parser, but it works for basic metadata purposes which seems better than having no metadata support at all.  The following examples show how to set a page title using metadata.

All on one line:

[code]

Or split across multiple lines:

[code]

---

Notes:
1. Only one key/value pair

[2013-06-14 06:32] jamieoliver opened #26 "Add explicit version constraints to sanitize and nokogiri dependencies"
Make it clear in the gemspec that these can't be updated.

[2013-06-14 06:37] #26 closed, assigned to nobody

[2013-08-04 17:47] #4 closed, assigned to nobody

[2013-08-08 03:34] trans opened #36 "Wiki can't be sublcassed without some hoop jumping"
Just thought I mention that this bit of code:

https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/wiki.rb#L110-L115

makes it less than ideal to subclass the Wiki class. One has to copy and paste this code to one's subclass for things to work. Might want to find another way to set these defaults that would allow subclasses to work without the duplication.

[2013-08-09 03:21] #21 closed, assigned to nobody

[2013-08-10 09:34] #12 closed, assigned to jamieoliver

[2013-08-28 14:08] #13 closed, assigned to jamieoliver

[2013-09-23 12:48] bartkamphorst opened #41 "Replace pygments.rb (which depends on posix-spawn and python)?"
Hi there -

The pygments.rb wrapper gem introduces a dependency in gollum-lib on posix-spawn (and Python). Are there any principled objections against replacing pygments.rb with something like [Rouge](https://github.com/jayferd/rouge)?

Another option would be to move highlighting to gollum and handle it client-side. But the move to Rouge seems like it would be straightforward. Any thoughts?

[2013-09-26 20:01] wcooley opened #44 "Release 1.0.4 breaks semantic versioning"
Commit eeb0a4a03600 updated the dependency on _nokogiri_ to version _1.6.0_, which requires Ruby >= 1.9.2. Dropping support for Ruby 1.8 seems like too big of a change for either a minor or patch version increment.

Also, the `README` is out of date (not to mention the `README` for _gollum_ itself).

[2014-01-11 11:13] #41 closed, assigned to nobody

[2014-01-11 14:24] jamieoliver opened #54 "Support Ruby 2.1.0"

[2014-01-11 14:26] #54 closed, assigned to jamieoliver

[2014-01-28 13:10] nirnanaaa opened #59 "Tables not getting rendered correctly"
While developing a redmine plugin for my gollum_rails plugin I found out that tables are not getting displayed correctly:

I have the following markdown part:

[code]

which renders correctly here on github:

| Name | Nummer |
| --- | --- |
| Test | 1234 |
| Test2 | 345 |

But if i render this through `formatted_data`, I get this result:

[code]

Everything else is rendered correctly.

Redcarpet a

[2014-01-29 08:24] #59 closed, assigned to nobody

[2014-02-10 16:02] dekimsey opened #60 "req: version bump"
Looks like gollum-lib hasn't been released in some time. Given the changes (#50, #41), I think this qualifies as a major version bump.

[2014-02-20 16:13] #60 closed, assigned to nobody

[2014-02-21 11:10] #44 closed, assigned to nobody

[2014-03-08 01:43] bootstraponline opened #63 "allow selecting pygments.rb instead of rouge"
pygments.rb is [much closer](https://github.com/bootstraponline/gollum-lib/commit/65e19a31bad38ef9944337cde913de604b87ea37) to GitHub higlighting because that's what GitHub uses. It'd be nice to have this as an option.

[2014-03-18 19:24] pedrocr opened #64 "gollum-lib 2.0.0 breaks [[__TOC__]]"
This is relative to this bug:

https://github.com/gollum/gollum/issues/814

gollum 2.7.0 broke adding the table of contents to the sidebar and I bisected it to the change to gollum-lib 2.0.0. I've since bisected gollum-lib itself and the commit that introduced it was this one:

https://github.com/anchor/gollum-lib/commit/6073b85ef0d9a71e9525b8446aaeb2850d5fc173

Here's the code I used to test this

[2014-03-29 14:51] fw42 opened #67 "Security vulnerability in gitlab-grit"
gollum-lib locks it's gitlab-grit dependency to version 2.6.0 (see [gemspec](https://github.com/gollum/gollum-lib/blob/8b9b6daad1cee59c699059545b55879b4009176f/gollum-lib.gemspec#L25)).

That version has a security vulnerability: http://www.osvdb.org/show/osvdb/99370

Please update to 2.6.1 (or later), so other projects that use gollum-lib can use a secure version of gitlab-grit.

ping @sunny @bar

[2014-04-03 23:29] #67 closed, assigned to nobody

[2014-04-07 00:08] #63 closed, assigned to nobody

[2014-04-28 14:30] dmlary opened #79 "Empty H1 element causes the TOC code to raise a NilClass exception"
When rendering the following (ill-formed) markdown, an exception is raised in the TOC generation code.  This occurs because the `h1` element has no children (the heading has no text).  This can be reproduced by pasting this markdown into an page and clicking preview.  The `[[_TOC_]]` tag is not being used within the markdown.

[code]

[code]

[2014-05-20 08:31] pgraubner opened #82 "undefined method `before' for nil:NilClass"
I got an error with gollum-lib 3.0.0:
NoMethodError - undefined method `before' for nil:NilClass
in gollum-lib/filter/toc.rb:33

This is the case for elements like `<h1></h1>`. It seems that h_name should be checked if it is empty.

[2014-05-29 11:38] #82 closed, assigned to nobody

[2014-05-29 11:40] #79 closed, assigned to nobody

[2014-06-22 22:00] jamieoliver opened #85 "Standardise the reporting of rendering errors"
The new macro syntax added by #51 introduces a number of places where rendering errors can occur and need to be reported cleanly without affecting rendering of the rest of the page. Ideally this behaviour should be standardised across the whole wiki so errors occurring from other parts of the rendering stack can be similarly reported.

[2014-06-22 22:47] jamieoliver opened #86 "Improve assert_html_equal"
`assert_html_equal` was added to do a semantic comparison of two HTML documents in such a way that the comparison wouldn't be affected by whitespace. There are apparently some issues with it, necessitating workarounds i.e. 8f07a5b1c61115df0ab9eadca83062fe1e3d9645  9821bf2ce073c89c6fa55c38c55540b54fee5b8c. It is important that this method is improved and the workarounds removed as it is heavily use

[2014-07-15 01:46] silverjam opened #89 "Filenames with colons break search page"
Steps to repro:
- Add a page with a ':' in the filename
- Add some content to the page
- Search for a term that will cause the page with ':' to be returned

Note that the result list that's built is broken.

[2014-07-20 22:01] jamieoliver opened #91 "Version 4.0 documentation"
Documentation that needs to be completed before version 4.0 can be released from `rc`:
- [x] Macros (see #51)

[2014-08-19 20:41] bartkamphorst opened #93 "Bring dependencies up to date (as far as possible without breaking things)"
See https://gemnasium.com/gollum/gollum-lib for the gems that are outdated.

[2014-08-25 11:22] #36 closed, assigned to jamieoliver

[2014-09-15 21:05] #86 closed, assigned to jamieoliver

[2014-09-16 09:24] dometto opened #97 "Filter::TOC untransparently removing <p> tags"
I was experimenting with `gollum-lib` under JRuby, and noticed test failures of the following kind:
`"<pre class=\"highlight\">'hi'</pre>" expected to be HTML equivalent to "<p><pre class=\"highlight\">'hi'</pre>\n</p>"`
The `<p>` tags in the output are somehow getting stripped on MRI. I finally managed to trace this to [this point in the filter chain](https://github.com/gollum/gollum-lib/blob/mas

[2014-09-18 18:29] ggrossetie opened #98 "Upgrade github-markup to the latest version 1.3.0"
Is there a plan to upgrade to the latest version of github-markup ?

[2014-09-18 18:36] #98 closed, assigned to nobody

[2014-10-14 13:36] gerwitz opened #102 "bugfix version bump?"
There are a few small things that were fixed ages ago but I keep running into via the gem. (Today, I debugged only to find that #82 already had a fix pulled in from May.)

4.0 doesn't look imminent, maybe we can get a 3.0.1?

[2014-10-15 08:06] #102 closed, assigned to nobody

[2014-10-17 14:38] supernova32 opened #103 "Wikis allow git pushes with illegal filenames"
moved from: https://github.com/gollum/gollum/issues/881

I've been using GitLab, and it uses Gollum for the wikis. Gollum is quite picky about the slugs (URLs) of its pages. The slugs get generated automatically from filenames in its underlying Git repository. Right now a user can do the following:

create a wiki;
download the wiki via Git;
create a file 'a&b.markdown';
git push;
go to the wiki pa

[2014-10-24 09:58] nirnanaaa opened #104 "write_page() throws an Encoding::CompatibilityError for chinese characters"
Hey,

I am trying to fix an issue, where the page name is something chinese: `你是我的中关星`. Saving the page via:

[code]
[code]

I have then edited the file `gitlab-grit/lib/grit/index.rb` at line 176 and changing the `[tmode, obj.name, sha]` to `[tmode, obj.name, sha.force_encoding("UTF-8")]` works, but is not a good practice.

Some tests:

* Create a page with the filename in english and the content

[2014-10-28 21:39] #89 closed, assigned to bartkamphorst

[2014-10-28 22:50] #97 closed, assigned to nobody

[2014-10-29 00:42] #64 closed, assigned to nobody

[2014-11-10 21:47] dometto opened #112 "`rc` branch breaks gollum test"
Running the `gollum` tests against the `rc` branch of `gollum-lib` results in one failure in `test_app.rb`, `test "UTF-8 headers href preserved"`:

[code]

[2014-11-25 22:29] #91 closed, assigned to nobody

[2014-11-26 00:03] #93 closed, assigned to nobody

[2014-11-27 13:32] #112 closed, assigned to nobody

[2014-12-03 13:46] joernchen opened #120 "Security Contact"
Hi,

this is kind of a "meta" issue, but I was wondering where I can
disclose a security issue in gollum? Due to the severity of the issue
I don't want to just put it in this public issue tracker.

thx,

joernchen

[2014-12-18 19:56] #7 closed, assigned to nobody

[2014-12-22 15:03] nlowe opened #125 "Macros cannot be nested"
I am not sure if this is supposed to be supported or not, but macros cannot be nested (that is, contained within other macros). For example, a file contains the following snippet:

[code]

I expect the `SMBLink` macro to be computed (which returns `<a class='externallink' href='file://///some/server/subdir' title='here' target='_blank'>here</a>`) and added inside of the `Note` macro.

Instead, it

[2015-01-03 19:48] dometto commented on #104
Took a look at this and encountered some surprising results. @nirnanaaa's test case works *both* with the rugged adapter **and** the grit adapter. However, in both cases, when trying to create a page with a name containing utf-8 cases via the gollum webapp, the pagename is transliterated (e.g. `'你是我的中关星'` => `'Ni Shi Wo De Zhong Guan Xing'`). Conclusion: both grit and rugged now support utf-8 file

[2015-01-03 19:48] #104 closed

[2015-01-04 16:25] nirnanaaa commented on #104
let me try with gollum_rails. I will report back

[2015-01-09 14:53] dancinglightning opened #132 "gollum-rails to join gollum organisation"
I would have written to a person (since it's not really an issue of gollum-lib) but don't know to whom.
So i'm using this as a sort of message board, sorry.

Florian (nirnanaaa) has what seems the most "live" [gollum rails](https://github.com/nirnanaaa/gollum_rails). It is more like a library though.
He also has a [gollum_redmine](https://github.com/nirnanaaa/gollum_redmine) though, that off cours

[2015-01-09 17:30] dometto commented on #132
Interesting proposal. :)

Can you be a bit more specific on what you're planning to do? If you want to develop a full-fledged rails webapp, I'd be worried a bit that we'd be developing the same app twice (which you're of course welcome to do, but doing would not really be a goal of the gollum project). If the plan is rather to develop an 'engine'/rack servlet for easy rails integration, I can see

[2015-01-09 19:12] dancinglightning commented on #132
The second: the idea is to develop a rails engine, an easy drop in into an existing rails application.
not sure how to be more specific, using rails assets/stylesheets/templates. The engine would be mounted and all those things could be changed and off course it would run in the main apps layout.

[2015-01-11 17:18] deric opened #133 "Allow serving wiki from subdirectory"
Instead of `base_path` argument which just modifies the links, would it be possible to introduce an argument that would change directory which gollum-lib considers as root?

It would be very convenient, e.g. for [gollum#937](https://github.com/gollum/gollum/issues/937).

[2015-01-11 19:09] dometto commented on #133
The `--page-file-dir` option comes as close to that as possible. (The actual root has to be the root of the repo for git to work at all). What I think you want is an additional option that automatically prefixes every requested path with the value of `--page-file-dir`, so that's not displayed as part of URI's and titles. That seems reasonable, but as I remarked, before we implement that, we would

[2015-01-12 10:41] sunny commented on #132
I'm all for it. I think it will help both the project and Gollum to pull it under the organisation.

It's doing that already… or at least it should be. Right now we are even extracting the Git adapter out of gollum-lib.

[2015-01-12 11:24] dancinglightning commented on #132
Great, and for that kind of "extraction" it certainly heps to have two "users" of the lib.

btw: i did an initial spurt and got a working prototype that starts (embedded in a test app) and shows some of the views. So it's looking good.

[2015-01-12 12:36] dometto commented on #132
@dancinglightning, what should the new repository be called? :)

[2015-01-12 14:02] dancinglightning commented on #132
@dometto i think gollum_rails would be best: we are building on that code, so the name should stay.

[2015-01-12 14:05] bartkamphorst commented on #132
Nice. :+1:

Would @nirnanaaa want the repo to change ownership completely then?

[2015-01-12 14:10] dancinglightning commented on #132
@bartkamphorst No, @nirnanaaa should be committer too, and will stay owner of the gem.
He is on board and we are in contact, he's just a bit busy and i'm a bit eager ( i have a site where i want to use this)

[2015-01-12 14:11] nirnanaaa commented on #132
Hey, I think it would be best to take my ideas and transfer them into a clean, more elegant way.

GollumRails is missing some functionality as @dancinglightning mentioned, which must be included (Override Settings, more convenient Rails behavior https://github.com/nirnanaaa/gollum_rails/issues/26).

Would it be best to transfer gollum_rails as it is to gollum or should we rewrite it from scratch o

[2015-01-12 14:33] dometto commented on #132
I've created https://github.com/gollum/gollum_rails and @nirnanaaa and @dancinglightning have commit (and admin) access to that repo. I leave it to you guys to decide whether to push existing code as an initial commit of to start over fresh. Welcome to the org, looking forward to seeing this project grow!

[2015-01-12 14:34] nirnanaaa commented on #132
Thanks a lot. Will communicate with @dancinglightning about your points.

[2015-01-12 14:35] dancinglightning commented on #132
OK! cool, thanks for the invite guys!

@nirnanaaa , i'll create an issue on the new repo.

[2015-01-12 14:35] nirnanaaa commented on #132
@dancinglightning just emailing you, too

[2015-01-12 14:47] #132 closed

[2015-01-12 14:50] sunny commented on #132
Welcome to the team! :sparkles:

[2015-04-06 14:41] SkyCrawl commented on #125
I think this issue is caused by the fact that [macro matching regexes](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/filter/macro.rb) disregard nested macros... Which means that whether intended or not, the current version of Gollum doesn't support nested macros :).

[2015-04-15 14:28] SkyCrawl opened #147 "Clear separation of gollum-lib, adapter specs and adapters"
Hey @dometto ,

i just delved into how things work on the lowest level of Gollum (`gollum-lib` and the underlying git layer) and I'd like to ask your opinion on the current situation.

To me, it **seems** (but I may be wrong) **overly complicated/confusing** and (again :( ) a bit of a mess, especially because of the following:

1. Some bits seem to be defined in `gollum-lib` and some others in the

[2015-04-15 15:26] dometto commented on #147
@skycrawl, the adapter specs can be much better and functional, that's agreed. However, I don't find that to be a priority right now, since the functional tests *are* done in gollum-lib.

On the overall structure: the adapters actually make everything a lot more maintainable than it used to be, when gollum was making direct calls to grit all over the place. This has allowed us to close a lot of bu

[2015-04-15 17:15] SkyCrawl commented on #147
Thank you, @dometto .

Neither do I, for that matter :). I should be able to somehow refactor my fork of `gollum-lib` for the changes I'm making but the design really struck me heavily when I finally looked at it a bit closer...

Yes, that probably partially explains the current state then. You managed to get rid of most of the mess but didn't get rid of it fully :).

In general, I agree... but it

[2015-04-15 21:49] dometto commented on #147
I know that feel. ;)

True, although not getting rid of it all at the same time was intended.

To the contrary -- that was the point of the (rather large) effort to build the adapters/abstraction layers in the first place. To my mind keeping gollum-lib ignorant about the underlying grit layer is one of the more sound features of the current backend. So:

1. The point about the specs is well taken.

[2015-04-16 15:14] SkyCrawl commented on #147
Indeed but you're probably missing the big scope - the whole chain of gollum, gollum-lib, the specs and, by extension, the adapters as well a bit. I don't claim to be the smartest person there is but to me, much of the design is simply "inadequate" or "wrong" :). That was my original point.

It probably is annoying but in my opinion, it's still better than having the adapter code in gollum-lib. No

[2015-04-16 19:18] dometto commented on #147
Closing in favour of https://github.com/gollum/adapter_specs/issues/3

[2015-04-16 19:18] #147 closed

[2015-04-24 03:42] davidterranova opened #149 "Rails 4.2.0 Compatibility"
Hello,

I am trying to integrate the `gollum-lib` gem with a Rails `4.2.0` app.
Unfortunately I am facing 2 problems :
[code]

My working project is new, here is the Gemfile :
[code]

Best regards,

[2015-04-24 22:28] dometto commented on #149
@davidterranova, gollum-lib depends not on `nokogiri v1.5.6`, but on `nokogiri v1.6.4`: https://github.com/gollum/gollum-lib/blob/master/gemspec.rb#L29

Also, it doesn't depend on `grit` but on `gitlab-grit`, which in turn depends on a newer `mime-types`. So I don't know why it's trying to require those old versions, but it seems like a problem local to your setup? Have you tried removing the `Gem

[2015-04-25 18:00] davidterranova commented on #149
Thanks for the reply,
I had to manually update `mime-types` by installing the `icu4c` headers.
It is now installed.

Best regards

[2015-04-25 18:00] #149 closed

[2015-05-22 12:57] techwiz24 opened #152 "Error when trying to build from source"
When trying to run `rake build`, I get this error:

[code]

[2015-05-22 13:09] techwiz24 opened #153 "Webrick Error if using pygments and a lexer is not found"
If `pygments` is installed and a page contains a code block that specifies a lexer that does not exist, the page will not load and will throw an exception:

[code]

Found this when investigating gollum/gollum#1015

[2015-05-22 13:11] techwiz24 commented on #153
Changing [this line](https://github.com/gollum/gollum-lib/blob/7e54ec86ba1e8cd7298de31d2d7583359f913ce2/lib/gollum-lib/filter/code.rb#L80) to read:

[code]

seems to fix the problem, although this should probably be logged.

If I can get some assistance with #152, I'll write up a PR.

[2015-05-22 13:40] techwiz24 commented on #153
Using the [asciidoctor](https://github.com/asciidoctor/asciidoctor/commit/ae103e4d9b25cfe3324e0b55f45c36c11dcc0df8)  fix, replacing:

[code]

with:

[code]

Seems to have fixed it, although this stops `pygments` from trying to derive what inspector to use by looking at the code.

**EDIT**: This seems to break the live-preview editor, not sure why

[2015-05-22 14:05] techwiz24 commented on #153
You can ignore my comment about it breaking the live-preview editor, it seems my cache was somehow corrupted and it failed to completely cache one of the JS files for `ace`.

[2015-05-22 14:37] techwiz24 opened #154 "Code block not correctly escaped when using pygments"
Putting

[code]

in a markdown file causes the remainder of the document to be rendered inside of a `<pre>` tag. Removing the `<` character from the code block corrects the problem. This problem is not encountered if `pygments.rb` is not installed.

[2015-05-23 01:38] bartkamphorst commented on #152
Interesting error. Will try to investigate this weekend.

[2015-05-23 10:57] dometto commented on #152
Strange, I can't reproduce this. Still, I think [this line](https://github.com/gollum/gollum-lib/blob/master/Rakefile#L12) is the culprit:
[code]
Possibly that returns `gollum-lib` on my machine and `gollum-lib_java` on yours, due to different sorting of `Dir[]` on ubuntu/OS X?

Can you try changing `Dir['*.gemspec'].first.split('.').first` to just read `"gollum-lib"`? If that works I'll change it

[2015-05-23 14:52] bartkamphorst commented on #153
True, but given [this comment](https://github.com/tmm1/pygments.rb/blob/master/lib/pygments/mentos.py#L72-L74) I wouldn't be too worried about that. :smile:

[2015-05-24 10:11] bartkamphorst opened #156 "Fix failing test "cannot revert conflicting commit" on JRuby"
See [Travis CI](https://travis-ci.org/gollum/gollum-lib/jobs/63777683).

[2015-05-24 12:18] dometto commented on #156
Fixed by https://github.com/repotag/gollum-lib_rjgit_adapter/commit/ae7b56a031844702dedde4488aeb363e0db6adcd

[2015-05-24 12:18] #156 closed

[2015-05-24 12:34] bartkamphorst commented on #156
Sweet. :+1:

[2015-05-26 13:14] techwiz24 commented on #152
Seems to be the case. By hard-coding the name to `"gollum-lib"` it will now build. Also, your hunch about sorting seems to be right:

[code]

[2015-05-26 13:25] techwiz24 commented on #153
Sounds good. Now that I can [get the gem building](https://github.com/gollum/gollum-lib#152) I'll try to get a PR written up this week.

[2015-05-26 13:40] bartkamphorst commented on #152
Should the `name` helper in the `Rakefile` check `RUBY_PLATFORM`?

[2015-05-26 13:40] bartkamphorst commented on #153
Nice! :+1:

[2015-05-26 13:57] dometto commented on #152
Glad you got it working!

@bartkamphorst, I think that would be too much effort for what that method is trying to accomplish. Hardcoding or setting a constant seem fine to me.

[2015-05-27 00:53] techwiz24 commented on #153
Huh, so master is [failing a test](https://github.com/gollum/gollum-lib/blob/master/test/test_hook.rb#L93) on my arch machine (this is before making any changes):

[code]

but was passing earlier today on an ubuntu machine. Open a separate bug or ignore it because it's probably my environment?

[2015-05-27 12:39] dometto commented on #153
Huh, weird. I'm also getting this on a fresh vagrant box on arch, so yes, please open an issue.

[2015-05-27 12:53] techwiz24 opened #158 "Test failing on Arch Linux / Ruby 2.2.0"
While investigating #152 and #153 , I found [a test from master](https://github.com/gollum/gollum-lib/blob/master/test/test_hook.rb#L93) was failing on my arch box, but not on my ubuntu box. At the request of @dometto, I am opening a separate issue.

[code]

[2015-05-27 13:26] #153 closed

[2015-06-01 20:36] techwiz24 commented on #152
@dometto @bartkamphorst, I know it's simple, but did you guys want a PR for this?

[2015-06-12 16:46] #152 closed

[2015-06-12 16:48] dometto commented on #152
Thanks, pushed the fix just now :)

[2015-06-24 14:48] techwiz24 commented on #153
Do you have an estimate as to when the next release for `gollum` and `gollum-lib` will be cut?

[2015-06-26 12:01] dometto commented on #153
We were initially waiting for some some CSS changes to make it into gollum 4.1, so we could also release some of the macros in gollum-lib `rc`, but it looks like that's going to have to wait a bit longer. We can see if we can do a smaller bugfix release at a sooner date though.

[2015-08-14 15:27] Naatan opened #166 "Better Search"
At the moment search returns page names and number of matches, this makes finding what you're looking for still rather painful. It would be much better if it could return the actual matched content.

I understand this is probably a challenge because you don't want to be returning the raw source to the end user, and if you cut out a line it may not parse properly if you want to attempt to convert i

[2015-08-14 15:34] Naatan opened #167 "Crop large anchor ID's"
This is an example of a generated anchor ID on the wiki I'm working on:

`Manual/prefs#preferences_editor-preferences_smart-editing_configuring-word-or-character-wrap`

It's veeery long, too long. Could this be handled more intelligently? eg. it seems to be including all parent headers in the anchor, this seems unnecessary. Additionally it would be nice if we could force a max length for these anc

[2015-08-14 15:49] dometto commented on #167
That would make it more difficult for a human to link to a section though...

[2015-08-14 15:59] Naatan commented on #167
I'm not saying the hash becomes the anchor. I'm saying the anchor is the name of the header (just the one its linking to, not its parents) and a hash is appended to ensure it's unique.

[2015-08-22 04:59] mchill commented on #154
[This line](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/filter/code.rb#L76) appears to be the culprit. I honestly can't see a reason for taking a different path on `nil` or `"bash"`. If that differentiation has to stay, though, `code` needs to be passed through a function to encode HTML special characters.

[2015-08-22 12:19] dometto commented on #154
I dont see the point of filtering out bash either, since pygments supports it. Maybe lang needs to be non-nil though? @bartkamphorst?

[2015-08-22 14:15] techwiz24 commented on #154
@dometto The lang does need to be non-`nill` ***and*** [a language that `pygments.rb` recognizes](https://github.com/gollum/gollum-lib/pull/157) I believe, which is why we default to `text` if one cannot be found.

Regardless, the line mentioned by @mchill still needs to be HTML-Escaped. I'll do some testing today and see if I can't get a PR written up.

[2015-08-22 14:26] bartkamphorst commented on #154
Not sure what the reasons were to put bash syntax between pre-tags. And yes, lang indeed has to be non-nil. Thanks @techwiz24 for offering to work on this!

[2015-08-22 16:47] techwiz24 commented on #158
Some further debugging:

It seems that `@clone.repo.commits.first.message` equals `Wrote test page` right before this assertation:

[code]

[2015-08-24 01:06] mchill opened #169 "AsciiDoc includes don't work in ---- code blocks"
As an example, this won't render correctly:

[code]

The problem is that Gollum [parses AsciiDoc code blocks](https://github.com/gollum/gollum-lib/blob/84275c3f5c2e400deb5181861cd2ac9e72f24d1d/lib/gollum-lib/filter/code.rb#L13) before rendering with Asciidoctor. This is done so that Gollum can apply syntax highlighting to the code blocks, but Asciidoctor can handle that itself.

The solution that

[2015-08-24 01:45] mchill opened #170 "AsciiDoc link/include paths are relative from repo root"
Because all pages are rendered from the root of the git repository Gollum is serving from, AsciiDoc relative link and include paths don't function as they should.

An easy fix is to wrap [this line](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/filter/render.rb#L6) in a chdir block like this:

[code]

I'm not sure if that would break any other markup language's rendering, though.

[2015-08-24 02:26] mchill opened #171 "AsciiDoc h3 headers are broken"
First off, sorry for the onslaught of AsciiDoc-related Issues...

Asciidoctor includes backwards compatibility with old AsciiDoc headers. Unfortunately, kramdown-style code blocks use conflicting syntax, so this will break rendering.

[code]

(Even more fun, I just discovered that using kramdown-style code block syntax inside of GFM code blocks breaks GitHub comments. -.-)

I propose simply [turni

[2015-09-01 16:25] dkozel commented on #12
The grit adapter has been updated. Here's the currently working hook with remote = origin and branch = master.

[code]

[2015-09-02 18:10] Naatan opened #172 "Persist cached formatted_data"
Reference discussion: https://github.com/gollum/gollum-lib/pull/77#issuecomment-137164892

[formatted_data](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/page.rb#L222) is only cached for the class instance, invoking gollum-lib again will cause it to load the page all over again. Gollum appears to be affected by this (gollum-lib caching has no effect when using gollum).

Ideally t

[2015-09-02 19:26] dometto commented on #172
Actually, I'm still a bit puzzled about what exactly is causing the speed increase when you're using #77. Gollum should be initializing a new instance of Precious::App for each request, so I don't quite see how cashing a page's formatted data will help to make things faster -- unless Page#formatted_data is being called multiple times for a single request of course.

[2015-09-02 19:37] Naatan commented on #172
I just tested this, Precious:App is only initialized once at startup.

[2015-09-02 20:10] dometto commented on #172
Ah, thanks, that explains. My bad, should have thought more before responding. :)

I very much welcome a PR on the lines of #77. Having Cache adapters is an especially nice idea, making it easy to plug in any kind of cache server if wanted.

There are some gems that a implement a basic in-memory cache, like https://github.com/djreimer/mini_cache -- although the only ones I can find that seem to be

[2015-09-02 20:24] dometto commented on #172
And there is of course ActiveSupport::Cache, but I don't know how lean it is to require.

[2015-09-02 20:25] Naatan commented on #172
Perhaps it's worth reconsidering #77? This seems to do pretty much what you described. Seems the only hold up there was some nitpicking (I mean that in the nicest way possible) that could easily be addressed on a follow up commit by those giving the feedback, it seems silly to block a good PR simply because you'd do a few things differently (not to mention it deters people from contributing in the

[2015-09-02 21:14] dometto commented on #172
I'm all fine with the approach in #77, but someone will have to clone the code and open a new PR since the original author has no time for it. :)

[2015-09-02 22:27] Naatan commented on #172
@Sirupsen do you want to open a new PR or mind if someone else uses your code to open a PR?

I got it working over at https://github.com/Komodo/gollum-lib, although the commits are a bit of a mess and need some cleaning up before I'd PR them.

[2015-09-03 01:14] Sirupsen commented on #172
You have fresh context, please grab the code and open a new PR :)

[2015-09-03 17:11] dometto commented on #172
Thanks @sirupsen! Yeah, let's grab the code. It would be good to have a mechanism for ensuring the cache doesnt get too big though -- that's why I mentioned other caching gems.

[2015-09-28 00:49] bpieck opened #173 "two Makros, I use"
Since you asked to know about Makros we write ourself:
I use for now a Preview(<page-name>) Makro, to render a Preview for another side (can be used for example as article of the day). And a second "statistics" Makro, the generates an ul with last updated page, last created page, and number of all pages.

If one or both of them are interesting for you, I would of course create a fork and pull requ

[2015-09-30 08:55] SkyCrawl commented on #120
@dometto

I was curious so I had a look around but couldn't really find a nice option to create a free, closed and trustworthy mailing list. Do you know of any?

If not, a quick alternative might be a special Google Group (GG) and a GPG key? Simply put, by registering a GG, you get a global email address that redirects all traffic (within the group or from outside) to the members (except for the s

[2015-09-30 09:27] dometto commented on #120
There is actually a gollum-dev group already (although not used). I think as an alternative to a shared private key, which I take it you are suggesting and which just opens up the question of how to safely share the key and ensure it is passed on to future developers, it would be fine to have a personal key fingerprint for as many people in the group in the readme.

[2015-09-30 09:58] SkyCrawl commented on #120
With a little effort, the distribution can be done quite safely, as long as the members treat the key with care. To ensure it is passed on would probably mean at least 2 members in the group. And if, for some reason, that fails, creating a new group and key is always a possibility, however inconvenient :).

But you're right that your suggestion is also an alternative. To me, they are more or less

[2015-10-03 17:20] mpnowacki opened #175 "renaming problems with page-file-dir set"
There is a problem with renaming files (that includes changing wiki format) with page-file-dir set. I described the problem here: https://github.com/gollum/gollum/issues/1076.
The problem is in `wiki.rb` in functions `rename_page` and `update_page`, namely in the input args for `commiter.add_to_index` calls. `add_to_index` internally adds the `@page_file_dir` (unlike `commit.add`), but the paths s

[2015-10-04 15:01] #154 closed

[2015-10-29 17:59] Naatan opened #177 "Support conventional markdown hyperlinks"
I don't really understand why gollum is forcing custom hyperlink styles, why not just use the conventional ones and infer your Wiki capabilities from them? Using custom markup somewhat defeats the purpose of using a standardized format.

[2015-11-05 23:37] jhominal opened #178 "`test-unit` development dependency not declared"
As the `test/unit` header is not present in some Ruby implementations (e.g., [MRI 2.2.0+](https://bugs.ruby-lang.org/issues/9711)), the `test-unit` gem is necessary to run the tests of `gollum-lib`, but the development dependency is not declared.

I would make the pull request, but I do not know how you like to order the dependencies in the gemfile, and I am not sure what versions constraints to u

[2015-11-10 08:45] gerwitz opened #180 "Move adapter dependency to gollum"
I'm using the Rugged adapter for an internal project, and it's going well.

But the gemspec hardcodes the default adapter as a dependency, which means bundler insists on installing the grit adapter, which in turn requires charlock_holmes, which is a [PITA to deploy to Heroku](http://tooky.co.uk/using-charklock_holmes-on-heroku/).

I'd love to move the grit_adapter dependency to Gollum's Gemfile.

[2015-11-13 19:41] techwiz24 commented on #178
This affects [JRuby installations](https://github.com/gollum/gollum/issues/1044) and the one that comes with arch as well.

[2015-11-14 07:26] bartkamphorst commented on #178
I would think that `v.3.1.5` should work on all supported rubies, or does that cause trouble for 1.9.3? Anyway, you could insert the dependency in `gemspec.rb` at line 45 (just above `minitest-reporters`).

[2015-11-14 07:34] bartkamphorst commented on #180
Having encountered `charlock_holmes` issues many times myself, I feel your pain.

The problem with that is that it prevents gollum from working out of the box with `gem install gollum`. We do plan on swapping the default adapter at some point, but for that to happen we need to be more confident that the rugged adapter performs well enough. @jhominal is doing some excellent work currently to help u

[2015-11-17 10:09] gerwitz commented on #180
I've been testing it and am completely satisfied with the rugged adapter.

So much so, that I'm considering removing my dependency on gollum-lib and using only the adapter directly!

[2015-11-26 22:20] #178 closed

[2015-11-30 15:10] rgroux commented on #173
@bpieck

:+1:

[2015-12-03 18:07] rgroux opened #186 "enhancement: Jumly graphs"
can we use jumly with gollum in a filter? like we use plantuml and wsd.

with a local or a remote server.

actualy i have a personal macro fot this feature, but i can create a filter or a macro.

IMO  filter is a better choice.

http://jumly.tmtk.net/

like this

![image](https://cloud.githubusercontent.com/assets/13436563/11568361/de93ab48-99eb-11e5-952d-9d2e876a77ce.png)

[2015-12-03 19:48] bartkamphorst commented on #180
Sorry for the long wait. Yes, a temporary fork is probably best for now. Development is slow at the moment, so I wouldn't want you waiting any longer on this change. We'll keep this issue open as a request to change the default adapter to rugged instead of removing it altogether, if that's okay with you.

[2015-12-03 19:52] bartkamphorst commented on #173
Yes, we'd be open for Makro PRs. I'm not entirely clear on what the Preview Makro would do, but I like the idea of a statistics page! I'll close this issue though as it's not really an issue, but feel free to open PRs when you are ready.

[2015-12-03 19:52] #173 closed

[2015-12-11 00:17] gerwitz commented on #180
If the intention of the dependency is to ensure `gem install gollum` works, perhaps the adapter should be referenced not by gollum's Gemfile (as I suggested) but by its gemspec?

[2015-12-11 00:34] gerwitz commented on #132
This project seems to have gone missing. Meanwhile, I have implemented a very rough Rails engine that provides a wiki based on gollum-lib. It is **not** a Rails version of Gollum, as it purposefully lacks most of Gollum's features. I built it as a minor component of a growing intranet project.

If anyone's has a similar need and is interested in starter code that has no tests and is likely riddled

[2015-12-11 10:14] dancinglightning commented on #132
Hi @gerwitz,
the project was removed from the organisation because communication broke down and in the end it is their organisation.
But it still exists, and is functional in as much as all tests work.
The funny situation is that i have no need for it and off course the toolbox is broken so i don't know where to advertise it's existence.

Shame you had to redo, maybe you can have a look at what i

[2015-12-27 18:55] gerwitz commented on #132
No worries, I also found https://github.com/nirnanaaa/gollum_rails but we wanted a hierarchical wiki structure so would have had to modify heavily anyway. It sure would have been nice to have found your engine first, though!

If anyone else happens upon this closed issue and cares, we're sharing our (very ugly) source here: https://github.com/TheArtificial/rails-wiki

[2015-12-27 18:57] fkasper commented on #132
Hey @gerwitz my old gollum implementation has a hierarchical wiki structure! You can lookup your code there

[2015-12-27 19:01] nirnanaaa commented on #132
@fkasper @gerwitz crap wrong account. Just want to post how I see this - My opinion. I do think it is easier to adapt the gollum-lib way on your project, as it is a very well tested and major software. No matter if you use gollum_rails underneath it or decide to write your own rails engine. It has some handy abstractions and takes care of a lot of things you will run into. My point is you don't ha

[2015-12-28 08:31] gerwitz commented on #132
Unfortunately, I've already written my own engine, and am already using it in (internal) production. Using gollum-lib, but it feels like only a fraction of it, which smells wasteful.

If I'd seen gollum_rails I would have used it instead of rolling my own model abstraction! Since your project is alive again, I ought to revisit and see if refactoring using it makes sense.

[2015-12-30 12:24] bartkamphorst commented on #171
Actually, this header snippet by itself does not match the code block [regexp](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/filter/code.rb#L25); only when there is a second h3 header present will there be a match. Regardless, there are a couple of solutions imaginable here. One is to indeed disable these types of code blocks for asciidoc specifically. Another is to disable these

[2015-12-30 12:40] bartkamphorst commented on #180
This is currently blocked on https://github.com/gollum/rugged_adapter/issues/15.

[2015-12-30 12:46] bartkamphorst commented on #172
@Naatan Any chance you'd be willing to open a PR for caching based on the work in your fork?

[2015-12-30 13:03] gerwitz commented on #180
I agree with the sentiment over there that the rugged adapter isn't ready to become the default.

But I'm going to keep beating my drum of "as a gollum-lib user I shouldn't have a dependency on grit only because the flagship user, gollum, requires it."

[2015-12-30 15:04] dometto commented on #171
I think there's even an argument to be made to just get rid of the gollum-specific codeblocks altogether. That would greatly simplify maintenance and potentially improve performance a lot. The main reason for keeping them was github compatibility, but arguably that's not a reason any longer. Alternatively we could keep them for markdown only, to better mimic github-markdown.

[2015-12-30 15:07] dometto commented on #180
@gerwitz, ideally we would indeed chuck the grit dependency. But as far as I can see there's no way of doing that which still makes it possible to `gem install gollum` and get a working installation, so that's a dealbreaker. The gem system makes it really difficult to do something like this, since there just is no way to specify dependencies on a per-platform basis (there is in Gemfiles, but those

[2015-12-30 15:15] bartkamphorst commented on #180
@dometto The suggestion is not to _remove_ the dependency, but rather to _move_ the adapter dependency away from `gollum-lib` and to `gollum` itself. Do you see any reason why that couldn't work, given that we would use the same sort of gemspec trickery as we now have in `gollum-lib`?

[2015-12-30 15:23] bartkamphorst commented on #171
I think it's still the objective to stay as close to github's behavior as possible. I've given the issue some thought, and I think we should just make the fenced code blocks with `~~~` specific to markdown. That solves this issue, and keeps fenced code blocks with backticks available in all markups.

[2015-12-30 15:32] dometto commented on #180
Ah, that's an option. In that case we would have to release a separate Java version of gollum as well as of gollum-lib, but I think that could work.

[2015-12-30 15:36] dometto commented on #171
Fine for now, but there's still a more fundamental debate to be had about whether it makes sense to add gollum's own code block syntax to markups which already have their own code block syntax (or not, for good reason). I *think* github also doesn't support backtick-blocks in markups other than markdown (but I may be wrong about this).

[2015-12-30 15:38] bartkamphorst commented on #169
@mchill Do you enable this in `config.rb`? If so, how?

[2015-12-30 15:50] dometto commented on #171
(Although there is the issue of syntax highlighting, which some markupsl gens might not support themselves)

[2015-12-30 15:55] bartkamphorst commented on #171
That's exactly why I think we should keep the backticks. :)

[2015-12-30 17:39] #171 closed

[2015-12-30 19:21] bartkamphorst commented on #171
@mchill This should be fixed on master.

[2015-12-31 00:13] bartkamphorst commented on #158
Same issue on ruby 2.3.0.

[2016-01-12 13:26] leyafo opened #191 "github-markup 1.3.3 has expired."
'github-markup' 1.3.3 has expired，because 1.3.3's dependency gem 'asciidoctor'  version is  0.1.4. It was more than two years past the expiration. please upgrade 'github-markup' to 1.4.0.

see this link:
https://github.com/github/markup/pull/427

Thanks, If need any help, I'll glad to help.

[2016-01-12 15:52] #191 closed

[2016-01-12 16:09] leyafo commented on #191
thanks.

[2016-01-12 16:15] bartkamphorst commented on #191
No problem. :+1:

[2016-02-02 11:28] #158 closed

[2016-04-03 05:10] KHN190 opened #201 "Gollum::Page.prepare enhancement"
To create a new page in git repo I found two ways:
[code]
However, I didn't see there's a place to play in-memory. For example:
[code]

Of course, I realized for rails, just render a new form and `write_page`. But still, I think this will be useful for tests.

[2016-04-05 14:27] KHN190 commented on #180
Hi. How to set gollum-lib to use rugged? This worked for gollum but not gollum-lib:
[code]
I appended the module to `application.rb`'s end:
[code]
And in console checked:
[code]
But in logger it still shows it's using grit:
[code]

[2016-04-08 03:44] #201 closed

[2016-04-14 13:38] KHN190 commented on #180
@gerwitz Hi guys, I updated gollum-lib to use rugged as default:
- https://github.com/KHN190/gollum-lib/blob/master/lib/gollum-lib.rb#L8
- https://github.com/KHN190/gollum-lib/blob/master/gollum-lib.gemspec#L3

Worked for me. Have a check.

[2016-04-19 13:00] gerwitz commented on #180
@KHN190: In my private fork for deployment I simply removed the dependancy from the gemspec. Very bunt and simple, but cannot be pulled into this repo until gollum proper handles it.

[2016-04-19 15:59] KHN190 commented on #180
Thank you, :) I've figured out a similar solution. Simply changed a fork of gollum-lib.Cheers.

Date: Tue, 19 Apr 2016 06:00:02 -0700
From: notifications@github.com
To: gollum-lib@noreply.github.com
CC: footonhill@outlook.com
Subject: Re: [gollum/gollum-lib] Move adapter dependency to gollum (#180)

@KHN190: In my private fork for deployment I simply removed the dependancy from the gemspec. Very b

[2016-06-02 10:14] pravi opened #206 "consider relaxing version requirement to ~> x.y for github-markup"
I'm packaging gitlab for debian and gollum lib is a dependency. We keep only one version of a gem in the archive and currently we have github-markup 1.4.0 and gollum-lib 4.1.0. Even though we have a newer minor release available in the archive, it is causing gitlab install to fail because the dependency is too strict. https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=821821

Can this be changed to

[2016-06-02 11:14] bartkamphorst commented on #206
I think `~> 1.4` instead of `~> 1.4.0` is probably fine. @dometto ?

[2016-06-02 12:33] dometto commented on #206
Yes. I would say it should also be possible to backport a more relaxed 1.3 dependency, but I need to look and see if there was a reason for the strict dependency in the first case.

[2016-06-02 15:11] pravi commented on #206
@dometto ~> 1.4 should be enough for my case as I updated to gollum-lib 4.2

[2016-06-08 15:00] gerwitz commented on #11
Thankfully, there's nothing to prevent an app built with gollum-lib from ignoring the directory parameter. So we faked this behavior in [rails-wiki](https://github.com/TheArtificial/rails-wiki).

[2016-06-21 18:32] connorshea opened #208 "Release of 4.3.0 on RubyGems?"
Hey! I wanted to ask about releasing the latest master on RubyGems.

We're currently blocked from updating to Rouge 2.0 in GitLab because of gollum (https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/4691), so I figured it was worth a shot. We don't technically need it for a few weeks, so don't worry about getting it out _right this second_ or anything, whenever you have time :)

Best,
Connor

[2016-07-04 18:41] bartkamphorst commented on #208
@dometto Would you have time to cut a release in the upcoming days? We can include emoji support on the next release.

[2016-07-04 18:42] connorshea commented on #208
@bartkamphorst to be clear, you mean a new release of gollum-lib? If so, gladly :)

[2016-07-04 18:44] bartkamphorst commented on #208
Yes.

[2016-07-04 22:06] connorshea commented on #208
Oh, sorry, I thought you were asking me! Derp.

[2016-07-14 08:42] pravi opened #209 "update/relax stringex dependency"
Can you update/relax stringex dependency to ~> 2.6? debian already has stringex 2.6.0 and this will help us in packaging.

[2016-07-14 15:41] pravi commented on #209
They follow SemVer https://github.com/rsl/stringex/issues/188

[2016-07-14 15:59] dometto commented on #209
No objections in principle, but will have to see if tests pass on 2.6.

[2016-07-17 18:54] connorshea commented on #208
4.2.1 is release now, so this can be closed 👍

[2016-07-17 18:54] #208 closed

[2016-07-20 21:40] PeteMichaud opened #210 "I wrote a maybe better Global TOC Macro, feedback requested"
https://gist.github.com/PeteMichaud/dca1f5831c98d8fc18821cb4164d2b67

The GlobalTOC macro just makes a flat list of pages that have the full path as the link text. It's pretty ugly, but it's also fairly cheap to process.

NestedTOC created a nested list of pages, according to the wiki structure, and it respects the h1_titles option. It's prettier, but also heavier.

The code works, but there are p

[2016-07-21 01:38] PeteMichaud commented on #210
I just noticed, I probably put this on the wrong issues list--should I move this from gollum-lib to gollum?

[2016-08-07 11:18] #206 closed

[2016-08-07 11:23] dometto commented on #209
Closed in #211. Sorry for the wait. Will release a bump release somewhere today.

[2016-08-07 11:23] #209 closed

[2016-08-11 15:43] toonetown opened #214 "Broken _sidebar.md"
With the changes from PR #198 , files named `_sidebar.md` no longer load (They need to be named `_Sidebar.md` - case-sensitive to load correctly with the changes).  That is a minor issue - but breaks previous functionality.

Also - subdirectories do not load the correct `_Sidebar.md`.  For example, given the following structure:

 * root
    * index.md
    * _Sidebar.md
    * subdir
        * inde

[2016-08-11 15:45] toonetown commented on #214
At the very least, I would suggest that a change that breaks previously-working sites (such as this) should be in a minor (2.x) upgrade...and not a bug fix (2.4.x) update.

[2016-08-11 16:43] dometto commented on #214
Thanks for reporting this, @toonetown . You're right that this should not have been a patch but a major upgrade.  Sorry about that, this kind of stuff happens because we're rather swamped and still try to work on substantive issues in gollum and gollum-lib. @bartkamphorst: presumably we can still keep the performance improvements while keeping the old behavior?

[2016-08-11 16:47] dometto commented on #214
As a side note, the improvements in #198 are maybe not so noticeable on smaller repos (in terms of number of files and commits), but become substantial for large repositories. See https://github.com/gollum/gollum/issues/1078. So we definitely don't want to just rollback those changes.

[2016-08-11 18:07] bartkamphorst commented on #214
I apologize for unintentionally introducing breaking changes. I do think the decision to make it part of a patch release was fine, given that the regression tests all passed. I'll work on extending the test suite and fixing the lookup behavior.

[2016-08-12 12:17] dometto commented on #214
Good point. :) @toonetown, looks like the solution will be to do a new patch re-instating the correct behavior. We'll try to do it fast.

[2016-08-12 14:01] bartkamphorst commented on #214
I can at least confirm the behavior.

[2016-08-14 09:24] bartkamphorst opened #216 "Use Pathname throughout gollum-lib for consistent pathname handling"

[2016-08-14 15:08] bartkamphorst commented on #214
Any comments on [this PR](https://github.com/gollum/gollum-lib/pull/215), @dometto ?

[2016-08-14 15:12] bartkamphorst opened #217 "Move lib/gollum-lib/file_view.rb to gollum"
It makes more sense to have the file view code live in the gollum code base, given that it is concerned with HTML.

[2016-08-14 15:17] bartkamphorst commented on #177
Which styles exactly were you referring to? I always use the []() syntax for hyperlinks and that seems to work fine.

[2016-08-14 15:19] #120 closed

[2016-08-15 09:47] bartkamphorst commented on #217
It also needs to be rewritten because it uses hardcoded slashes for path handling (which breaks on Windows).

[2016-08-15 09:51] dometto commented on #216
I assume this will also solve the Windows problems caused by hardcoded slashes?

[2016-08-15 09:53] bartkamphorst commented on #216
Hopefully, although we might run into other issues as well.

[2016-08-15 10:29] bartkamphorst commented on #216
@dometto For the test suite, would you prefer
`assert_equal 'Mordor/Eye-Of-Sauron.md', map[3].path.to_s` or
`assert_equal Pathname.new('Mordor/Eye-Of-Sauron.md'), map[3].path`?

[2016-08-15 15:07] Naatan commented on #177
They work fine but they do not work as Wiki hyperlinks. Wiki hyperlinks have additional functionality (eg. automatic relative mapping), indicators whether a page exists.

[2016-08-15 15:30] dometto commented on #177
So you're referring to the `[[links]]` I guess. I also think it should be possible to do without those.

[2016-08-16 08:23] bartkamphorst commented on #217
Gollum already has a `FileView` class: `Precious::Views::FileView` (which is a child of `Layout`). I wonder if the `Gollum::FileView` class from `gollum-lib` could be integrated.

[2016-08-16 09:21] bartkamphorst commented on #217
A straightforward copy requires the following:
* Copying the Gollum::FileView code
* Loading the Gollum::FileView code inside Gollum
* Moving directory `test/file_view`
* Copying helper methods `normalize_html(text)` and `assert_html_equal(expected, actual, msg = nil)`
* Adding development dependency `nokogiri-diff`

I'm not so sure about the desirability of the last two points. Thoughts, @dometto

[2016-08-27 10:36] cloudchou opened #219 "subpages not support macro"
I want to display all pages in sidebar . so I wrote this in _Sidebar.md:

[code]

But it can not display in side bar.  I test it in pages. it's ok.

So I  check the code .   And  found that the filter chain doesn't contain Macro chain in markup.rb.
So I  add the macro chain. But it doesn't work too.
althougth  it  will use the macro code. but it can not get all pages.

[2016-08-27 14:36] maarten commented on #217
I don't mind copying the helper methods, the question is even whether an html normalize test helper should be necessary in gollum-lib. It makes me wonder what code uses that as it apparently is emitting html in that case, which shouldn't happen in this code to begin with.

Adding a development dependency is ok for me.

[2016-08-27 15:28] dometto commented on #217
The normalize test helper is mainly for the tests relating to markup rendering. The rendering methods do spit html, and the normalize method helps to account for minor differences in the html output on different platforms (jruby vs MRI) and when using different versions  of (markdown) rendering gems.

[2016-09-07 11:39] #214 closed

[2016-09-22 02:06] bsdfirst opened #222 "Upgrade from 4.2.0 to 4.2.1 labels links in sidebar/header/footer as "absent"."
After upgrade from `4.2.0` to `4.2.1`, all internal links in `_Sidebar`, `_Header`, and `_Footer` (at the top level) are assigned the class `absent` and are thus coloured red.  Internal links within the main page body are classified correctly.  Downgrade of `gollum-lib` to `4.2.0` resolves the issue.

Discovered in production running under unicorn; however, reproduced running gollum on the command

[2016-09-22 02:22] bsdfirst opened #223 "Internal links with slashes not converted to hyphens."
Documentation in the Gollum wiki states that slash characters within a link token will be converted to a hyphen when resolved to an HREF.  For example:

[code]

In actual fact (testing against version `4.2.1`) the following conversion occurs:

[code]

Unless the documentation is incorrect (I understand it is within a different Github project), then this would appear to be a bug.  (Or was this a pa

[2016-09-22 10:03] bartkamphorst commented on #222
Thanks for reporting this @bsdfirst . I think this issue should be resolved in `master`, so with the next release.

[2016-09-27 01:08] mrueg opened #224 "New release with relaxed deps"
I'd be interested in a new release, that includes https://github.com/gollum/gollum-lib/commit/9a437e4364819cb7ec9c58e7c78e74f69173e412 . Would that be possible?

Thanks!

[2016-10-20 14:52] pinkeen commented on #12
The hook doesn't work for me.

I want to run a bash script in post commit (creates a merge-request in case of conflicts). The problem is that the file being changed is modified but there's no commit yet - at least according to cli git. How is that possible? Is there a way to "sync" the git adapter changes before calling the hook?

[2016-10-20 14:55] pinkeen opened #225 "During the post-commit hook execution the changes are not yet synced to the repository"
I want to execute a bash script during post-commit event. The bash script is using the cli git. It's supposed to create a merge request in case of conflicts.

It seems that during execution of the script the file being modified is already changed on the filesystem but no commit is made according to the cli git.

Is there a way to sync the index to filesystem before calling the hook?

[2016-10-29 01:19] mrueg commented on #224
Friendly ping @dometto @bartkamphorst

[2016-10-29 15:38] dometto commented on #224
Sorry for the delay. Yes, I'll cut a new gem based on master ASAP. @bartkamphorst, because of https://github.com/gollum/gollum-lib/commit/d56f5c44adb188f1159c16320f9400985b90f1c2 I'll make it 4.2.2.

[2016-10-30 23:51] bartkamphorst commented on #224
👍

[2016-11-02 14:46] mrueg commented on #224
@dometto  thanks for taking care of it! :)

[2016-11-17 22:10] mrueg commented on #224
@dometto do you know when you will have time for it?

[2016-11-18 14:31] dometto commented on #224
Just released `v4.2.2`. Again, apologies for the long response time.

[2016-11-18 14:31] #224 closed

[2016-11-18 14:31] dometto commented on #219
This should be fixed with the release of `v4.2.2`. Please let us know otherwise.

[2016-11-18 14:31] #219 closed

[2016-11-18 19:08] mrueg commented on #224
Thanks a bunch!

[2016-11-20 23:06] connorshea opened #226 "Update gemojione to 3.x"
Right now the gemspec locks [gemojione](https://github.com/jonathanwiesel/gemojione) to `~> 2.2`, it'd be nice to have 3.x support in gollum-lib.

The main problem is that there's no support for Ruby 1.9 in gemojione 3.0. Either 1.9 would need to be dropped or we could allow either 2.x/3.x and use separate gemfiles to run tests with gemojione 2.x and 3.x.

[2016-11-21 07:13] bartkamphorst commented on #226
I think dropping Ruby 1.9 for the 5.x release of gollum certainly is an option. Do you agree @dometto ?

[2016-11-21 09:16] svoop commented on #226
@connorshea I'll take care of this.

[2016-11-21 09:19] svoop commented on #226
@connorshea Oh, didn't see the Ruby 1.9 constraint. IMO, it's no good to add unneccessary complexity to the code for the sake of supporting a Ruby which reached it's EOL almost two years ago. I'd rather couple the Emoji-Update to dropping Ruby 1.9 as @bartkamphorst suggested.

[2016-11-22 12:28] dometto commented on #226
👍

In that case, I propose to also get rid of [these lines](https://github.com/gollum/gollum/blob/master/lib/gollum.rb#L14-L16) :)

[2016-11-22 12:35] svoop commented on #226
@dometto In order to prepare a PR for Gollum 5 with the update to gemojione 3: Are the branches `gollum-lib:gollum-lib-5.x` and `gollum:5.x` the baselines to use?

[2016-11-23 15:47] dometto commented on #226
Correct, @svoop!

[2016-12-04 06:10] lopopolo opened #227 "Gollum's overridden kramdown renderer does not allow markdown tables"
gollum-lib sets the Kramdown renderer to `markdown` instead of the default `kramdown` when it [overrides github-markup's kramdown renderer](https://github.com/gollum/gollum-lib/blob/2c747d5e4042df2164f25f120d8b911ea32fbf6e/lib/gollum-lib/markups.rb#L6)

The markdown renderer is strict and does not allow the table extension.

I've managed to get tables rendering with kramdown by adding the followin

[2016-12-28 23:04] svoop commented on #226
There you go, sorry for the delay. As expected, the jruby-19mode tests fail.

[2017-01-08 05:09] rbnmx opened #234 "Succesful installation of gollum on Windows 10 Home Single Language"
From the README.md

It works!

![2017-01-07_2256](https://cloud.githubusercontent.com/assets/5141189/21747501/20e6e6f8-d52e-11e6-9d34-cdf094d7ad05.png)

![2017-01-07_2300](https://cloud.githubusercontent.com/assets/5141189/21747497/10a0ad7e-d52e-11e6-8708-3a7f8cf70c5f.png)

[2017-01-08 20:04] bartkamphorst commented on #234
Have you tried any of the functionalities? Last time I checked I got various errors, mostly related to path issues.

[2017-01-08 23:03] rbnmx commented on #234
So far, only tried the command `gollum`. It ran successfully, I think

![2017-01-08_1648](https://cloud.githubusercontent.com/assets/5141189/21754253/616f6224-d5c2-11e6-9791-ff7de98de277.png)

I'm progressing slowly but I'll keep sharing other relevant progress. By the way if you could share tips to about resources to do the jump from solo/end-user programmer to open-source contributor will help m

[2017-01-15 00:06] connorshea commented on #226
@svoop can we close this now?

[2017-01-15 03:47] svoop commented on #226
@connorshea i'd say yes

[2017-01-15 03:56] #226 closed

[2017-01-17 03:21] yhl3692319 opened #237 "when user name end with . , wiki last edit commit author name show error"
My user name is `hongyuan.`, when I update my wiki it show like this `hongyuan edited this page 2 minutes ago · 1 revision`

The user name is wrong!!

my wiki: https://github.com/yhl3692319/myblog/wiki

[2017-01-19 14:05] dometto commented on #237
Please contact github support, gollum and github wikis have diverged.

[2017-01-19 14:05] #237 closed

[2017-01-19 14:13] dometto commented on #234
Thanks for letting us know, that's great news! I'll close this now because we're tracking Windows progress over at the [gollum]{https://github.com/gollum/gollum) bugtracker, using the `[Windows]` prefix. Perhaps you could try and see if some of the bugs reported there are still reproducable?

There are some contributor guidelines in the gollum and gollum-lib readme, as well as [here](https://githu

[2017-01-19 14:13] #234 closed

[2017-01-29 00:36] nimag42 opened #239 "Encoding::CompatibilityError when both folder and file have non-ascii character"
Hello,
There's a bug when I try to edit a file whose name contains non-ascii character (utf-8) and this file is in a folder whose name also contains non-ascii character (for example : try to edit /àà/éé).

The problems is:

        Encoding::CompatibilityError:  incompatible character encodings: ASCII-8BIT and UTF-8:
        /var/lib/gems/2.1.0/gems/gollum-lib-4.2.2/lib/gollum-lib/page.rb:174:in `

[2017-01-29 08:49] nimag42 opened #240 "Search is broken if there's an image in the repo"
Hi.

If there's an image in the repository, any research will result in an error "Invalid bytes in UTF-8".

This is caused because the search tries to encode line of files in utf-8 before trying to match a regexp, but as image are binary files, they can not be encoded.

It's line 170 in git_layer_rugged.rb

[2017-01-29 10:01] #240 closed

[2017-02-20 12:10] bartkamphorst commented on #239
Thanks. The gollum-lib codebase is currently riddled with `force_encoding` statements unfortunately. For `v.5.x` we're looking to make everything use utf-8 by default. Might be a while though as @dometto and I are both swamped at the moment.

[2017-02-27 14:55] gerwitz commented on #240
@nimag42: I've encountered this same problem. How did you resolve it?

[2017-03-28 15:52] dometto commented on #227
Thanks for letting us know about this possible fix. For `gollum 5.x`, we can decide whether or not to switch to 'default' kramdown.

[2017-03-28 15:52] #227 closed

[2017-03-28 20:02] dometto opened #245 "Switch default markdown renderer to kramdown for 5.x"
See discussion in https://github.com/gollum/gollum/issues/907#issuecomment-289878076. When switching from `github-markdown` to `kramdown` as a default renderer, we set `kramdown` to `github-markdown` mode in order to respect as much old behavior as possible, and in order to make the tests pass. For 5.x and onward we will switch to kramdown's default behavior, which includes support for tables (and

[2017-03-29 20:47] iyerusad opened #247 "[[_TOC_]] showing H1 item with blank value when {h1_title => true}"
Didn't see this in existing open issue so opening...

## h1_title is false
[code]
Result (as expected):
![image](https://cloud.githubusercontent.com/assets/25647368/24475742/25503966-148e-11e7-85ec-135ab0c26d84.png)

## h1_title is true
[code]
Result (renders a h1 item in TOC with blank value):
![image](https://cloud.githubusercontent.com/assets/25647368/24475823/67423162-148e-11e7-94ee-16d9dd18ac

[2017-04-02 18:04] dometto opened #250 "Remove WSD support from 5.x"
I propose we remove support for Web Sequence Diagrams from `5.x`. WSD is a commercial platforms, and we currently have support for PlantUML already. Keeping multiple UML renderers will increase the maintenance load.

[2017-04-12 20:12] dometto commented on #223
Thanks for the report. Starting from `5.x`, gollum will not perform such substitution anymore. Slashes in file names will/should not be allowed (`Backup/Recovery` will be interpreted as pointing to a file under the `Recovery` directory).

[2017-04-12 20:12] #223 closed

[2017-04-12 20:15] dometto commented on #245
Done in https://github.com/gollum/gollum-lib/pull/246

[2017-04-12 20:15] #245 closed

[2017-04-14 12:47] dometto opened #264 "Fileview doesn't show page file extensions"
In 5.x we've stopped surpressing file extensions, but the fileview doesn't seem to show them. Preferably we would fix this and have a different way of showing the difference between pages and files (in case of the 'all files' view).

[2017-04-14 12:50] dometto commented on #222
@bartkamphorst I think this can be closed?

[2017-04-14 12:52] dometto commented on #186
We've just changed to PlantUML as the default on 5.x and dont want to support multiple UML solutions in order to ease maintenance. If you want to write your own filter for it I would be glad to include it in a contrib directory though.

[2017-04-14 12:52] #186 closed

[2017-04-14 13:00] dometto commented on #177
The problem with this would actually be that we would have to extract regular markdown links, and regular Mediawiki links, and so on for each supported markup format, and handle them ourselves (i.e. detect whether the link references a valid page), which we can't/shouldn't do. I understand that the gollum tags don't play well with other markdown tools, but the alternative is just to use markdown l

[2017-04-14 13:01] bartkamphorst commented on #222
It's probably wise to test this in 5.x first, just to be sure.

[2017-04-14 13:03] bartkamphorst commented on #264
Nice idea. 👍

[2017-04-18 10:48] dplanella opened #265 "Changelog out of date since v4.2.1"
I've just noticed that there is an update for gollum-lib available on my system (`gollum-lib (4.2.2 < 4.2.5)`
). Yet by looking at the changelog in [HISTORY.md](https://github.com/gollum/gollum-lib/blob/master/HISTORY.md) I can't really tell which changes have been made in this new version, as the file was not updated since version 4.2.1.

How are releases made? I would assume that there is some d

[2017-04-18 15:27] dometto commented on #265
Yes, we release using the `Rakefile` (with `bundle exec rake release`, rake being 'ruby make'). Minimally it could throw a warning or error if `History.md` is not updated -- that would be trivial to implement. Ideally, there would be some degree of automation of updating the changes based e.g. on commit messages. But it would be painful to implement that ourselves. If you could look around and see

[2017-04-20 09:16] dometto commented on #250
Closed in #261.

[2017-04-20 09:21] dometto commented on #217
To come back to this, I'm not against that if `nokogiri-diff` is available for `jruby`.

[2017-04-20 09:25] bartkamphorst commented on #217
👍 We'll keep it on the todo list then for 5.x.

[2017-04-20 09:31] dometto commented on #217
👍 I have some serious suggestions for refactoring, but it would be best to move the view first and keep the tests passing.

[2017-04-20 09:31] bartkamphorst commented on #217
Agreed.

[2017-04-30 12:11] svoop opened #273 "Escaped emoji"
Every now and then, wanna-be emoji tags are replaced with their corresponding emoji image: For instance `rake app:shell:open` will become "rake app:shell:open". (It doesn't here on Github, but will on Gollum since context-agnostic filters are used to handle emoji. Which is good, because unlike Github it allows emoji e.g. in code blocks which is useful at times.)

I've written a very small fix for

[2017-04-30 12:16] dometto commented on #273
Please open one against `5.x`! Are we sure rendering emojis in code blocks is desired behavior though? (The impact is low because emojis are not turned on by default, but still.) Another way of handling this problem might be to change the location of the `Emoji` filter in the filter chain though (but I haven't looked into this).

[2017-04-30 13:16] #250 closed

[2017-04-30 13:20] dometto commented on #225
That's odd. Hooks are triggered [here](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/committer.rb#L171), clearly after the commit has been executed. Did you ever make any progress with this, @pinkeen?

[2017-04-30 13:22] dometto commented on #177
Closing this for above mentioned reasons. In version `5.x` you will also be able to disable gollum tags entirely on a per-markup basis, [like this](https://github.com/gollum/gollum-lib/blob/gollum-lib-5.x/lib/gollum-lib/markups.rb#L55).

[2017-04-30 13:22] #177 closed

[2017-04-30 13:23] dometto commented on #11
#216 will help with this.

[2017-04-30 13:24] dometto commented on #133
Duplicate of https://github.com/gollum/gollum/issues/1052

[2017-04-30 13:24] #133 closed

[2017-04-30 13:26] dometto commented on #85
What about collecting errors in the metadata under the `'errors'` key, as the `YAML` filter [is now doing](https://github.com/gollum/gollum-lib/blob/gollum-lib-5.x/lib/gollum-lib/filter/yaml.rb#L17)?

[2017-04-30 13:28] svoop commented on #273
Me, personally, I like it to be able to highlight stuff in code blocks with emoji – particularly since all other formatting is of course impossible. Graphics stand out way more and nobody confuses them with the actual code. So as far as I'm concerned, it's a feature, not a bug.

[2017-04-30 13:28] dometto commented on #172
*ping* We're working hard on version `5.x` so this would be a great time to implement caching.

[2017-04-30 14:51] svoop commented on #273
Here you go:

* https://github.com/gollum/gollum-lib/pull/275
* https://github.com/gollum/gollum/pull/1235

[2017-04-30 18:49] dometto commented on #273
Fixed in those PRs.

[2017-04-30 18:49] #273 closed

[2017-04-30 21:45] dometto commented on #169
On `5.x` we can now skip the code filter entirely for `asciidoc` by using the `:skip_filters` key when registering `asciidoc` with `Gollum::Markup.register`. Do we want to leave all syntax highlighting to `asciidoctor` by default? I believe we would still have to override some of `github-markup`'s settings to achieve that, but shouldn't the CSS already work out of the box? I thought we also use `p

[2017-04-30 21:48] dometto commented on #170
Sorry for the late reply. I actually think this should be a relatively safe fix, since gollum's own tags shouldn't (and I think don't) care about what the working directory is. Would you like to try a PR (against the `gollum-lib-5.x` branch) for this? If the tests pass with this line around it I'm ok with merging it in. Perhaps it will also have a beneficial effect on other markups with similar fu

[2017-04-30 21:51] dometto commented on #125
I think this would be too difficult to implement, for reasons mentioned above. :(

[2017-04-30 21:57] dometto commented on #167
It appears github just uses the title of the (sub)heading and appends an index to it when there are possible conficlits. For instance, if there are two sections called `use-spaces-in-filenames` the generated anchors will be:
* `#use-spaces-in-filenames`
* `#use-space-in-filesnames-1`
Does that seem like a reasonable approach?

[2017-05-01 13:14] bartkamphorst commented on #125
I actually think this is challenging but doable. I vote to keep it open for a little bit longer.

[2017-06-04 18:20] pinkeen commented on #225
I ended up doing a push/pull script (with automatic PR creation on conflict) in a cronjob.

[2017-06-06 17:18] josacar opened #278 "gollum-lib linked to vulnerable nokogiri version"
Hi,

`nokogiri` dependencies are tightened to `~> 1.6.4`, however 1.6.x includes vulnerable bundled libs:

[code]

[2017-06-09 09:07] josacar commented on #278
@dometto @bartkamphorst can we relax `nokogiri` dependency?

[2017-06-12 10:21] bartkamphorst commented on #278
I think so, and I'd like to, but I don't have the time to run tests at the moment. @josacar Can you confirm that nokogiri `1.7` doesn't (seem to) break anything in gollum?

[2017-06-12 11:07] d2bit commented on #278
@bartkamphorst It does pass green. I've opened a PR https://github.com/gollum/gollum-lib/pull/279

[2017-06-29 17:39] Agilus commented on #210
I think this is the right place.  The code for GlobalTOC() is in this project.

[2017-06-29 17:43] Agilus opened #280 "GlobalTOC() Macro doesn't support base_path"
If you start gollum with the --base_path option, giving you a wiki that is not at the root of a URL (e.g. http://myhost.com/subpathwiki instead of http://myhost.com/), the GlobalTOC() creates a list of links that point to the wrong place.

Instead of pointing to http://myhost.com/subpathwiki/Home, a link made by GlobalTOC() will point to http://myhost.com/Home .

The fix for this problem is relati

[2017-07-31 15:12] dometto commented on #210
This post is fine in this issue tracker. I like the idea of a nested TOC macro, but at the moment we're in the process of a major refactor for gollum `5.x`. This will likely also involve changes in the generation of titles (with/out the `h1_titles` option) and the detection of header nodes. See e.g. https://github.com/gollum/gollum/issues/1177. So at this time, a PR for this `Macro` would complica

[2017-07-31 15:12] #210 closed

[2017-07-31 15:15] #278 closed

[2017-08-11 08:22] karlredman opened #282 "gollum-lib 5.x mistakenly allowed for use with gollum 4.x"
Hi, I'm looking for the code that re formats tag links int URLs so that I can monkey patch this for my own project at the very least. I haven't been able to find the change in this release so far.

*  Relative links (tags) are being reformatted to replace spaces with '+' characters in gollum-lib v5.0.a.3 for the URL formatting. This is a change from gollum-lib v4.2.7
    * I'm pretty sure this cha

[2017-08-12 14:19] dometto commented on #282
The correct behavior on `5.x` is documented here: https://github.com/gollum/gollum/wiki/5.0-release-notes#filename-handling

The behavior your describing is a consequence of using the `4.x` line of `gollum` with the `5.x` branch of `gollum-lib`. `gollum 4.x` still expects the lib to do whitespace substitution, which leads to problems resolving the page name. NB: not replacing spaces is the intende

[2017-08-12 14:22] dometto commented on #282
I just saw that `gollum`'s `gemspec` is allowing use with `gollum-lib >= 4.2.7`. That's a mistake, and should be `gollum-lib >=  4.2.7, < 5`.

[2017-08-12 23:59] karlredman commented on #282
Thank you for looking into this. Manually installing gollum-lib 4.2.7 worked fine. I'd noticed the gemspec file and assumed that was correct.

Just for clarification I've repeatedly tested this with complete uninstalls and reinstalls. the gem install for gollum 4.1.2 was automatically pulling in gollum-lib 5.0.a.3 -at least using the method shown below.

[code]

[code]

[2017-08-13 01:08] #282 closed

[2017-08-13 08:07] dometto commented on #282
Ah, thanks for the report. That's very odd, in my environment it's correctly resolving the dependency. I think the rubygems API specifies that alpha and beta releases are not to be automatically resolved. In either case it should no longer occur when I update the gemspec.

[2017-08-16 10:29] dometto opened #284 "Fileview doesn't show folders that contain no pages"
For instance the `uploads` directory is not shown, because it only contains non-page files.

[2018-01-02 22:31] nkabir opened #289 "plantuml filter doesn't work without modification"
Note that I needed to modify `gen_url`  for Gollum to correctly generate PlantUML diagrams:

[code]
Otherwise the service returns the placeholder image

![plantuml](https://user-images.githubusercontent.com/92801/34502713-649099b8-efda-11e7-8b7c-dfda4a17219a.png)

[2018-01-09 04:08] irstevenson commented on #280
Same issue (and by the looks of it, same fix need) with `Navigation()`.

[2018-01-14 18:41] bartkamphorst commented on #289
Could you show an example of a diagram that produces the placeholder image? Because when I add [this example from the wiki](https://github.com/gollum/gollum/wiki#plantuml-diagrams) to a page the diagram renders without a hitch without needing this line `compressedData = zlibbed[2..-5]`.

[2018-01-18 15:03] bartkamphorst commented on #289
This issue will be fixed in `5.x` release. See [here](https://github.com/gollum/gollum/issues/1279) for a quickfix.

[2018-01-18 15:03] #289 closed

[2018-01-28 16:52] stubillwhite opened #294 "File system does not contain changes when post_commit hook is fired"
Hi,

First of all, thank you so much for such an excellent tool -- Gollum is fantastic for organising notes, and I'm enjoying migrating all my cruft from Evernote/TiddlyWiki to it.

I'm trying to run a Bash/Python script to generate an index page of tags that I've added to my pages. The idea is that on the post_commit hook, the script executes, parses the pages to find any tags, generates a new in

[2018-02-05 18:32] dometto commented on #167
Also see https://github.com/gollum/gollum/issues/1261

[2018-03-21 12:40] captn3m0 opened #295 "sanitize lib needs update (CVE-2018-3740)"
As per https://github.com/rgrove/sanitize/issues/176, the updated release is `4.6.3`

[2018-05-15 10:02] joseluis-fw commented on #295
@dometto Any update on this security PR?

[2018-08-22 14:29] rsov commented on #295
Last commit was almost a year ago. I doubt it that this will be merged anytime soon

[2018-08-25 14:32] dometto commented on #295
Was unable to work on gollum for a while due to reasons. Sorry for leaving this security issue hanging. Getting up to speed with gollum again and will try to resolve this ASAP.

[2018-09-23 12:34] bartkamphorst commented on #284
Fileview will be removed in `5.x`.

[2018-09-23 19:43] #284 closed

[2018-09-23 19:48] bartkamphorst commented on #239
This is resolved in gollum's `5.x` branch.

[2018-09-23 19:48] #239 closed

[2018-09-23 19:55] dometto commented on #264
This would still be an option for the new Overview page.

[2018-09-23 19:55] #217 closed

[2018-10-01 11:37] dometto opened #300 "Recent versions of sanitize break jruby"
After `2.x`, `sanitize` switched to using NokoGumbo for parsing, which requires c-extensions that break `jruby`. For `5.x`, it would be good to switch to something that's easily updatable in the future.  An alternative sanitization gem could be [loofah](https://github.com/flavorjones/loofah).

[2018-10-01 16:30] dometto commented on #222
Cannot reproduce on 5.x

[2018-10-01 16:30] #222 closed

[2018-10-14 20:48] dometto commented on #280
Fixed in `v5.x`

[2018-10-14 20:48] #280 closed

[2018-10-14 20:50] dometto commented on #103
This is fixed in `5.x`

[2018-10-14 20:50] #103 closed

[2018-10-14 20:55] dometto commented on #264
This is fixed on 5.x

[2018-10-14 20:55] #264 closed

[2018-10-14 21:01] dometto commented on #247
Can't reproduce this on 5.x

[2018-10-14 21:01] #247 closed

[2018-10-14 21:02] dometto commented on #300
After discussing with @bartkamphorst we've decided to stick with `sanitize`.

[2018-10-14 21:02] #300 closed

[2018-10-14 21:08] dometto commented on #175
This was already solved in #174

[2018-10-14 21:08] #175 closed

[2018-11-12 23:11] existme commented on #12
Actually the more correct way of doing this might be:

[code]

So there would not be any need of creating an instance of wiki.

[2018-11-15 16:08] bartkamphorst commented on #294
@stubillwhite Sorry for the wait. What's happening is that your `:post_commit` hook is called after the commit, but before your working directory is updated. If instead of calling `cat Home.md` you would call `git log` in your hook you should see your most recent commit message.

All of this is a result of code such as this snippet from `#write_page` in `wiki.rb`:
[code]

Basically, the `committer

[2018-11-15 16:11] bartkamphorst commented on #225
Duplicate of https://github.com/gollum/gollum-lib/issues/294. Explanation and workaround can be found in that issue; we're still considering a fix.

[2018-11-15 16:11] #225 closed

[2018-11-15 16:12] bartkamphorst commented on #216
ping @dometto .

[2018-11-15 17:07] dometto commented on #216
Sorry, missed this! I think I would prefer
`assert_equal Pathname.new('Mordor/Eye-Of-Sauron.md'), map[3].path`
Because `map[3].path.to_s` doesn't make explicit that `map[3].path` is a `Pathname` (since ordinary strings also respond to `#to_s`).

[2018-11-15 17:59] bartkamphorst commented on #216
👍

[2018-11-15 18:02] bartkamphorst commented on #294
Untested, but I actually think this might be fixed by reversing the array of callbacks before executing them, because the hooks provided by the user in `config.rb` will have been added to the array first before any of the other code is run. @dometto Would this be an acceptable solution (if it works)?

[2018-11-15 18:20] bartkamphorst commented on #294
I can confirm that my proposed fix does resolve the issue. 👍

[2018-11-15 20:39] bartkamphorst commented on #294
I was thinking about that too, since multiple callbacks _are_ supported. Another solution would be to delay adding the hook execution block to the array until execution time, like so:
[code]
Or, perhaps even simpler, we could call `Hook.execute` directly after all the callbacks have been called, like so:
[code]
Both solutions work. 👍

[2018-11-15 21:14] dometto commented on #294
Cool! Both seem fine to me

[2018-11-16 09:55] stubillwhite commented on #294
Thanks for getting back to me and looking into this -- really appreciate it. I'll have a look into the workaround you suggested.

[2018-11-18 23:32] dometto commented on #167
Fixed in `5.x` (see [here](https://github.com/gollum/gollum/wiki/5.0-release-notes#anchors))

[2018-11-18 23:32] #167 closed

[2018-12-04 15:32] dometto commented on #169
We will not support `asciidoc` includes in codeblocks because we don't want to outsource responsibility for the generated syntax highlighting CSS to all the different markup renderers, for the sake of maintainability and uniformity. Anyone who wants to disable gollum's own syntax highlighting feature for `asciidoc` or any other format can do so using the `skip_filters`   key ([see here](https://gi

[2018-12-04 15:32] #169 closed

[2019-02-06 15:04] darix opened #320 "Depends on an old version of sanitize"
couldnt we at least allow a newer version for the non java build?

[2019-02-13 17:09] dometto opened #321 "Make file search case insensitive"
See `file.rb`
[code]

[2019-02-16 20:53] dometto commented on #321
This will be resolved in #322

[2019-02-16 20:53] #321 closed

[2019-04-28 21:19] dometto commented on #11
This has been implemented in #322 and #326 -- will be released in 5.x

[2019-04-28 21:19] #11 closed

[2019-05-09 18:08] dometto commented on #170
Implemented in 5.x

[2019-05-09 18:08] #170 closed

[2019-08-21 18:33] dometto commented on #180
We won't be able to implement this before we release 5.x

[2019-08-21 18:33] #180 closed

[2019-08-21 18:35] dometto opened #335 "5.x: TOC doesn't show up in subpages"
For an example see `Gondor/Boromir` in the LOTR test repo. @bartkamphorst any idea what could cause this?

[2019-08-21 18:49] bartkamphorst commented on #335
Not off the top of my head no, sorry. 😞

[2019-08-22 08:44] dometto commented on #320
To clarify: the old sanitize version is because newer ones break `jruby` support. Please note the old version **does** contain a backported fix for CVE-2018-3740. See discussion [here](https://github.com/gollum/gollum-lib/pull/296) for more detail

Alternatively, we could switch to https://github.com/flavorjones/loofah -- any help greatly appreciated!

[2019-08-22 09:24] darix commented on #320
related issue: https://gitlab.com/gitlab-org/gitlab-ce/issues/66398

[2019-08-22 10:31] dometto commented on #320
@darix could you say a little more about how these issues relate?

[2019-08-22 11:44] darix commented on #320
well in the past they used gollum-lib directly. it seems now they use a fork. and your version still requires a sanitize version that doesnt use nokogumbo yet. so yes oversight on my side. but it is still annoying to support such old versions.

[2019-08-22 12:16] dometto commented on #320
I agree. If you maintain a package that depends on gollum-lib, perhaps it may save time in the not too long run to help gollum move to loofah? If you'd like to work on a PR I'd be happy to help out.

[2019-08-22 12:30] darix commented on #320
Sadly I maintain a few hundred (might actually be 1000+ by now). this limits my time.

[2019-08-22 13:10] darix commented on #320
so just going over some your gemspec.rb

there is a lot more dependencies which are really old:
- gemname: latest supported version
- rouge: 2017-08-22
- github-markup: 2018-01-30
- sanitize: 2018-09-30
- gemojione: 2017-07-14
- twitter-text: 2017-07-03

[2019-08-22 13:21] dometto commented on #320
did you check against the 5.x branch? Off the top of my head I know Twitter-Text is locked to an older version because of an issue.

[2019-08-22 14:11] darix commented on #320
I checked against master.

and the twitter-text issue is not resolved in the last 2 years? there have been 5 releases.

[2019-08-30 18:28] gerwitz commented on #180
Is 5.0 to be the last release, ever? A future milestone would be more comforting than a closure.

[2019-08-31 14:34] dometto commented on #180
@gerwitz we're planning to get rid of the grit adapter in 5.0. I assumed that would solve the issue. If I misunderstood I'll reopen!

[2019-08-31 15:54] gerwitz commented on #180
Ah, indeed that fixes my reason for this issue, at least!

[2019-09-11 11:00] dometto commented on #335
Fixed in #340

[2019-09-11 11:00] #335 closed

[2019-09-11 11:02] dometto commented on #320
@darix I was confused, it was an issue with wikicloth's usage of twitter-text. See [here](https://github.com/gollum/gollum/issues/1273). The wikicloth PR has finally been [merged](https://github.com/nricciar/wikicloth/pull/92), but there's no new gem release yet. :-( We'd love to keep our dependencies more up to date but as you can see it's no simple task.

[2019-09-11 11:45] darix commented on #320
As a packager I am aware of the trouble to keep a whole stack updated.
But if everyone says "I cant do anything because they dont move" we
together dont move at all. not even a little bit.

So thank you for your work. I am sure if we ask them for a release they
might look into it. wouldnt be the first time a nudge for upstream
caused them to actually release a new version.

[2019-09-11 14:07] dometto commented on #320
might look into it. wouldnt be the first time a nudge for upstream
caused them to actually release a new version.

I've already [pinged](https://github.com/nricciar/wikicloth/pull/92) the wikicloth maintainer. Also thanks for your nudges, we'll try our best to update as many dependencies as possible for the upcoming 5.x release.

[2019-09-18 16:18] dometto commented on #166
The current approach (#343) will return raw source to the end user and HTML escape it (one line of context). Given that the user is searching through markup source documents (and possibly searching *for* an expression containing markup), I think it would be unnecessary and unexpected to render the search context.

[2019-09-25 08:46] dometto commented on #166
Resolved in #343

[2019-09-25 08:46] #166 closed

[2019-09-27 10:58] bartkamphorst commented on #125
I've considered this some more but I don't think it is worth pursuing on a general level, at least not at this point. @nlowe's example of

```<<Note("There is an example config file located <<SMBLink('here','\\some\server\subdir')>>")>>```

where the nested macro is in the argument string can still be made to work though by parsing the argument string that is given to the Note() macro (i.e. `"Ther

[2019-09-27 10:58] #125 closed

[2019-12-25 14:10] ulidtko commented on #103
Hey, where's the place to tweak this behavior? Will I need to fork/patch `gollum-lib` to change it?..

I'm putting `gollum` in place of a `dokuwiki` integrated inside yet another, python web app (yeah... `gollum` saves me from having to deal with PHP). Basically, that app allows pinning wiki notes to UI objects which happen to be **IP addresses** with rich info around them.

So, it does work, but

[2019-12-25 17:12] ulidtko commented on #103
Oh well, never mind. The pages are easy to rename back to what I want.

[2019-12-26 14:30] bartkamphorst commented on #103
@ulidtko Have you tried the `5.x` branch? The "page name rewrite magic" has been removed there.

[2019-12-27 11:15] ulidtko commented on #103
@bartkamphorst nice, thanks for the tip!

I gave it a try, but unfortunately, the 5.x gem doesn't build... As far as I can see, the spec file hasn't been updated to keep up with other 5.x changes (lists many files which have been removed). I'll file a separate issue for that.

[2020-03-16 01:05] dometto commented on #320
Resolved in #351

[2020-03-16 01:05] #320 closed

[2020-04-16 12:37] Dahie opened #373 "Set commit date on committing changes"
Hi,

I'm working on a software to convert database-based legacy wiki systems into gollum git-repositories [Caramelize](https://github.com/Dahie/caramelize/). I manage to persist the history, but not the date of the changes, which I'd like to see reflected in the commit dates of the git repository. I don't see how I can pass this as a parameter in the `Committer`. Am I missing something? Where can

[2020-04-16 15:00] dometto commented on #373
Thanks for working on caramelize! Cool project :) It may be nice to add some info about it to the gollum documentation?

You're right that gollum-lib doesn't allow you to pass in an arbitrary date when creating a commit. But worse: the underlying git libraries don't seem to support such an operation. See for instance Rugged's commit creation method, which does not have a parameter for date:

https

[2020-04-16 16:07] Dahie commented on #373
Hi, I see. So far I used a monkey-patched grit-adapter, but I had constant encoding issues and I was kind of relieved to move away from that. I have to sleep about it, maybe I find something in rugged to hook into.

Where do you mean I should add caramelize to the documentation?

[2020-04-16 16:45] dometto commented on #373
Maybe add a page or a section about caramelize in the [wiki](https://github.com/gollum/gollum/wiki)?

Good luck, I understand getting away from `grit` would be good. Let us know if we can help with anything.

Just FYI: it looks JGit at least [has this ability under the hood](https://archive.eclipse.org/jgit/site/5.1.0.201809111528-r/apidocs/). Maybe rugged can pull it off, as well.

[2020-04-16 16:45] #373 closed

[2020-04-16 18:12] bartkamphorst commented on #373
@Dahie It would seem that it is possible in Rugged. I haven't tested this, but if you look at the example of `Commit.amend` given [here](https://www.rubydoc.info/github/libgit2/rugged/Rugged%2FCommit:amend) you see that the author hash takes a `:time` key. With any luck that timestamp is used for the amended commit.

[2020-04-16 18:28] bartkamphorst commented on #373
Just tested this, and yes, it appears to work 👍 :
[code]

And, just to double-check:
[code]

[2020-04-16 19:45] Dahie commented on #373
Awesome! Thank you, I'll check it out tomorrow!

[2020-04-16 20:23] bartkamphorst commented on #373
You're welcome. And, for the record, the same trick also applies to `Rugged::Commit#create`:
[code]

[code]

[2020-04-16 20:30] bartkamphorst commented on #373
Similarly, in `JGit`, as @dometto suggested, this appears to be possible by adding a date to the `PersonIdent` constructor that is passed to `CommitCommand#setCommitter`. See [here](https://stackoverflow.com/questions/51150709/how-to-set-the-commit-time-with-jgit) for the example and [here](https://download.eclipse.org/jgit/site/5.1.1.201809181055-r/apidocs/org/eclipse/jgit/lib/PersonIdent.html) f

[2020-04-17 08:59] dometto commented on #373
Nice find @bartkamphorst! @Dahie if you want to try and add this option to `gollum-lib` (not sure if you need that for your project) we'll be happy to advise.

[2020-04-17 09:04] Dahie commented on #373
Thanks, I take you up the offer. I'd like to add `time` as an optional attribute to `Gollum::Git::Actor`. Adding it to `adapter_specs`, `rjgit_adapter` and `rugged_adapter`, and to `Gollum::Committer#actor` to pass a commit time via the options hash into the new actor. Does that sound like a plan? Are there any things I should pay attention to?

[2020-04-17 09:09] dometto commented on #373
That sounds exactly like what needs to be done. :) I think RJGit doesn't yet support adding a time to an Actor object, but we could work on that.

I suspect you'll also want to add support for time in [this method](https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/committer.rb#L56). Then you could initialize a Committer with `:time` in the options hash.

[2020-04-17 09:10] Dahie commented on #373
That's what I had in my mind. Alright, I'll post a few PR's later today.

[2020-05-08 14:06] Mogztter opened #376 "Gollum should register ".adoc" as a valid file extension for AsciiDoc"
`.adoc` is shorter and [recommended](https://asciidoctor.org/docs/asciidoc-recommended-practices/#document-extension) by Asciidoctor. I suggest that Gollum adds `.adoc` as a valid file extension for AsciiDoc.

[2020-05-09 08:18] #376 closed

[2020-06-06 18:36] tpoliaw opened #379 "Series macro can't be used in subpages"
Using the [Series](https://github.com/gollum/gollum/wiki/Standard-Macros#series) macro in subpages looks like it tries to match the name of the subpage to the prefix instead of the current page, then fails giving an error: `Macro Error for Series: This page's name does not match the prefix '<prefix>'`.

I've had a look and will open a PR but I've never used Ruby before so might need a bit of nudgi

[2020-06-12 18:20] pReya commented on #12
@existme Is this code only valid, when using the grit adapter? Any alternative for rugged?

[2020-06-14 07:50] bartkamphorst commented on #12
@pReya @existme 's snippet should also work with the rugged adapter.

[2020-06-29 02:03] jonthebastard commented on #12
I was pointed here via [this guide for syncing a GitHub wiki with Gollum](https://grantwinney.com/hosting-a-github-wiki-remotely-on-ubuntu/). When using @existme 's config as above, any attempt to create or edit pages will fail, with these errors:

1. If I try to edit a page, I get a popup of "Internal Server Error", with this error stack:

[code]

2. If I try to create a new page, I get the same

[2020-06-29 06:23] pReya commented on #12
@jonthebastard I think this is not the right issue for your problem. However it sounds like you might have set up your repo via ssh while you don't have the proper dependencies for that. Have you tried usinbg the repo via https?

[2020-08-03 13:41] #379 closed

[2020-08-03 15:32] dometto commented on #265
Updated for 5.0.

[2021-01-04 07:22] ashwinreddy opened #392 "pandoc-citeproc no longer supported"
Earlier this year, I introduced `pandoc-citeproc` into this repo at https://github.com/gollum/gollum-lib/blob/master/lib/gollum-lib/markups.rb#L61. However, `pandoc-citeproc` is now deprecated, so I'm getting the following error when I try to use my gollum wiki:

[code]

I'm not very familiar with ruby, so I've been having trouble getting the switch to `--citeproc` to work.

[2021-01-04 12:08] ashwinreddy commented on #392
Looks like changing that line to

[code]

 does the trick (at least with my setup)! I'm not sure how we would ensure older versions work as well, though...

[2021-01-05 17:04] Purgator opened #393 "Improve Navigation or TOC."
Hello there,

I've tryed every kind of TOC that propose macros but I can't find any that is really useful.
I'm wondering if i missed somethings after hours of searches.

I want to have a simple navigation on the side of any wiki page, to navigate under pages, as Azure devops Wiki can do.
There are many problems :

- No level restriction
- Can't close / open categories (uneeded if previous point is

[2021-01-10 13:34] #392 closed

[2021-01-11 17:33] kalebo commented on #12
Just for anyone else coming across the above issue with an unsupported URL error, the dependencies that you need that @pReya hints towards should be supplied by `apt install git` if you are on a Debian derivative.

[2021-03-07 01:30] harleypig opened #399 "Make dependency on twitter optional"
Can you make the dependency on twitter-text optional? I don't use twitter for anything (I canceled my account 3 years ago).

[2021-03-09 14:06] dometto commented on #399
https://github.com/twitter/twitter-text is just a library that gollum uses for things like autolinking (generating html `<a>` tags for strings that look like a link) and handling text encoding. It in no way constitutes a connection to twitter.com, and gollum does not (and will never) include things like tweet buttons or anything else that would involve twitter tracking.

[2021-03-09 14:06] #399 closed

[2021-09-06 07:28] patrickdung opened #404 "markups @master still referring to python2 for rst support"
Hello,

Regarding https://github.com/gollum/gollum/issues/1548#issuecomment-611378586.
github-mark 4.0 is updated to use Python 3. But the gollum-lib/markups.rb (Line 84) is still looking for python2.

In a Docker setup that it only have Python 3, I had to update that rb file to change it from python2 to python3.

[code]
Thanks.

[2021-09-06 08:55] dometto commented on #404
Thanks for letting us know!

[2021-09-06 09:24] dometto commented on #404
Fixed in https://github.com/gollum/gollum-lib/pull/405. I'll do a bugfix release now.

[2021-09-06 09:24] #404 closed

[2022-01-08 22:27] beporter opened #407 "Possible to append to default filter chain?"
I've been digging around in the source code, looking for a way to _append_ (or prepend) an additional filter to the default list.

https://github.com/gollum/gollum-lib/blob/1058d366eedac51e520498cfce9513b05b97974a/lib/gollum-lib/wiki.rb#L149

But as far as I can tell, the only choice is to copy (and hardcode) the default list with my own filter added to it.

I suspect even converting the list to a

[2022-01-08 23:23] beporter commented on #407
Looked at the code more and realized you currently **have** to define your custom filters in the `Gollum::Filter::` namespace:

https://github.com/gollum/gollum-lib/blob/1058d366eedac51e520498cfce9513b05b97974a/lib/gollum-lib/markup.rb#L159

It might also be nice to allow implementors to stay out of the Gollum namespace like in my example above?

[2022-01-11 19:19] dometto commented on #407
I personally think it's neat to have all filters be part of the same namespace, but if the consensus is this is very counter intuitive I am happy to yield. :) Substantively it would only require modifying the line you quote, I think. Something like:

[code]

But my personal feeling is this complicates the code for a minimal gain in enduser-friendliness. Perhaps it's more important that we document

[2022-01-12 10:18] dometto opened #408 "More efficient sanitization"
At the moment, we are calling `sanitize(data)` in the filter chain (at least) twice: in the actual `Sanitize` filter, and inside the `Macro` filter, to counter an exploit discovered a while ago by @yy0931 (see #402). We can try to make this more efficient by moving the `Sanitize` filter to earlier in the filter chain, so that it is executed *after* all the other steps. It's possible that this ends

[2022-01-13 15:56] dometto commented on #265
Implementing a `rake` helper task for Gollum, see here: https://github.com/gollum/gollum/pull/1788. We can copy it to this repo.

[2022-02-08 05:54] tevino opened #414 "Customization (like sorting and filtering) of the navigation or TOC macros?"
I'm thinking about adding a callback to handle the `pages` here before the rendering
https://github.com/gollum/gollum-lib/blob/4434d2377532123f9191fcc8f112524b1fd10535/lib/gollum-lib/macro/navigation.rb#L6

Cloud possibly solve part of #393

[2022-02-08 05:56] tevino commented on #414
CC @dometto

[2022-05-10 19:18] dometto commented on #407
Sorry @beporter, I just realized I never responded to this more verbosely. I do really like the example snippet you give and we would be open to considering a PR that makes something like that possible!  If I see things correctly, that functionality would be independent of the namespace issue, no?

Thanks for chipping in regardless!

[2022-05-11 20:52] beporter commented on #407
No worries on timing!

And yes I believe it would remove the current namespacing requirement.

Quite similarly to you: I'm qappy to do a PR, but no promises on timing. The nature of open source work is that sometimes it's _months_ between good opportunities to meaningfully contribute. I have a gollum search plugin still sitting on the back burner too. 🤦‍♂️

[2022-05-12 14:38] dometto commented on #407
Right, so there seem to be two options:

1. Add the snippet and be able to do `Gollum::Wiki::DEFAULT_FILTERS + [ My::CustomFilter ]`
2. Don't add the snippet and only be able to do  `Gollum::Wiki::DEFAULT_FILTERS + :MyCustomFilter`, where `MyCustomFilter` is under the `Gollum::Filter` namespace

I'm alright with either approach, 1 means more flexibility for the end user, whereas 2 is less complex

[2022-05-16 12:03] dometto opened #419 "Default CommonMarker options?"
It turns out `commonmarker` by default removes HTML tags from markdown for safety. Since we already implement our own sanitization, this seems superfluous: indeed, other renders such as `kramdown` already leave HTML elements in by default.

So it may be deisrable to override the `commonmarker` defaults and activate its `:UNSAFE` option. However, this would require overriding yet another block of c

[2022-05-24 15:20] dometto commented on #265
Done in https://github.com/gollum/gollum-lib/pull/421

[2022-06-15 09:51] sirtoobii opened #423 "Search: Advanced search"
Currently search terms are split by space, all "regex"-sequences are escaped by `Regexp.escape()` and then concatenated using `|` which prevents any complex searches:

https://github.com/gollum/gollum-lib/blob/3f8955a7b99a38aa36f70cd813d28e4df1ab2f81/lib/gollum-lib/wiki.rb#L500-L501

Is there any particular reasoning to allow only `OR` "advanced" searches?

Gollum Version: 5.3.0 on Ubuntu 20.04

[2022-06-15 10:14] dometto commented on #423
The reason is just complexity: since we don't want the user to have to write "foo|bar" for a disjunctive search term, we can't just treat the user-inputted search string as a regex. If we want to allow more advanced searches, we would therefore have to perform more varied transformations from the user-inputted string to a valid regex. There may be libraries that  do this, i.e. construct regexes ou

[2022-06-15 11:33] dometto commented on #423
@oetiker as it stands, you can search for `"red fish"` and get lines that match both or `red fish` (and get lines that match either). I believe this is fairly standard search practice, though it would certainly be nice to have a little help function for the search bar that makes this explicit.

I took it @sirtoobii was about the possibility of more advanced pattern matching, which would require im

[2022-06-15 11:46] dometto commented on #423
Just realized I maybe got @oetiker wrong and the suggestion is to return only *pages* (not lines) that contain both `red` and `fish`. This would certainly be a nice feature, but I would hesitate to say that it makes sense as a default: if I search for two IP addresses, say, I might still be interested in pages that contain only one of the two. Or I might expect to be given pages that include *line

[2022-06-15 11:57] oetiker commented on #423
How about behaving somewhat like google does ?